body {
    font-family: 'Roboto', sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #f57878;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #000000;
}

#main-content {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

#title-container {
    background-image: url("images/shutterstock_burger.jpg");
    background-position: contain;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    margin: 0px -8px 40px -10px;
    padding: 200px 0px 300px 0px;
}

#navbar #nav-menu {
    text-align: right;
    list-style-type: none;
}

#navbar a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

#navbar a:visited {
    color: #000000;
}

#navbar .title-font:visited {
    color: #ffffff;
}

#footer {
    margin: -40px 0px 0px -20px;
    padding: 10px 0px 10px 28px;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.copyright-container {
    padding: 10px 0px 10px 10px;
}

.small-container {
    text-align: center;
    width: 50%;
    height: 50%;
}

.row-container {
    display: flex;
    justify-content: space-evenly;
    margin: -40px -8px 40px -10px;
    padding: 40px 0px 50px 0px;
}

.red-bg {
    background-color: #df482d;
}

.darker-red-bg {
    background-color: #7a1d1d;
}

.nav-item {
    display: inline;
    padding: 20px;
}

/* placeholder logo */
.title-font {
    font-family: 'Parisienne', cursive;
}

.nav-item .title-font {
    color: #ffffff;
}

.light-red-bg {
    background-color: #e69292;
}

.small-img {
    width: 350px;
    height: 250px;
}

.header-font-size {
    font-size: 56px;
}

.white-button {
    text-decoration: none;
    border: #ffffff;
    border-style: solid;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.padding-top {
    padding-top: 50px;
}

.margin-bottom {
    margin-bottom: 60px;
}

.paragraph-font-size {
    font-size: 24px;
}

.img-center-row-container {
    padding: 60px 0px 0px 0px;
}

.fade-in {
    animation: fade-in ease 2s;
    -webkit-animaton: fade-in ease 2s;
    -moz-animation: fade-in ease 2s;
    -o-animation: fade-in ease 2s;
    -ms-animation: fade-in ease 2s;
}

.thick-red-border {
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    border-color: #7a1d1d;
}

.copyright-font-size {
    font-size: 16px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@moz-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@o-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@ms-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}